<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="shop">
        <div class="pizzas">
            <div th:each="pizza: ${pizzas}">

                <div class="pizza">
                    <div class="category_img">
                        <img th:src="@{'/img/' + ${pizza.pizza.name} + '.png'}"/>
                    </div>
                    <div class="pizza_caption">
                        [[${pizza.pizza.name}]]
                    </div>
                    <div>
                        <p th:text="${pizza.techCart}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>