<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<wrapper>
  <form method="post" action="/registration">
    <input type="text" class="parameterInput" name="email" placeholder="email">
    <input type="password" class="parameterInput" name="password" placeholder="password">
    <input type="password" class="parameterInput" name="passwordRepeat" placeholder="passwordRepeat">

    <input type="submit" class="submitInput" value="register">
    <a href="/static">Вернуться</a>
  </form>
</wrapper>
</body>
</html>